<launch>
    <!-- set Waypoint folder and wp_dict -->
    <arg name="wp_path" default="$(find morse_humans_navigation)/conf/wp.yaml"/>
    <arg name="wp_dict_path" default="$(find morse_humans_navigation)/conf/wp_dict.yaml"/>
    <arg name="mv_plan_path" default="$(find morse_humans_navigation)/conf/mv_plan.yaml"/>

    <!-- Human Navigation -->
    <node pkg="morse_humans_navigation" type="navigation.py" name="human_controller" output="screen">
        <param name="wp_path" value="$(arg wp_path)" type="string"/>
        <param name="wp_dict_path" value="$(arg wp_dict_path)" type="string"/>
        <param name="mv_plan_path" value="$(arg mv_plan_path)" type="string"/>
    </node>
</launch>
