<launch>
    <!-- set Waypoint folder and wp_dict -->
    <arg name="wp_dir" default="$(find morse_humans_navigation)/Waypoints/"/>
    <arg name="wp_dict_dir" default="$(find morse_humans_navigation)/wp_dict/"/>

    <!-- Human Navigation -->
    <node pkg="morse_humans_navigation" type="navigation.py" name="human_controller" output="screen">
        <param name="waypoint_folder" value="$(arg wp_dir)" type="string"/>
        <param name="wp_dict_folder" value="$(arg wp_dict_dir)" type="string"/>
    </node>
</launch>
